language: python
python:
  - "3.2"
# command to install dependencies
install: "python setup.py install"
before_script:
  - "lxxl start"
  - "curl -iv http://localhost:8083/1.0/users/"
after_script:
  - "lxxl stop"
# command to run tests
script: "nosetests tests/*.py -v"
services:
  - mongodb
  - memcached