language: python
python:
  - "3.2"
# command to install dependencies
install: "python setup.py install &> install.log"
before_script:
  - "lxxl start"
after_script:
  - "lxxl stop"
# command to run tests
script: "nosetests tests/*.py -v"
services:
  - mongodb
  - memcached